*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.MainBody{
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 540px;
}
.Main-head{
  height: auto;
  width: 100%;
  background: #F2F2F2;
  display: grid;
  grid-template-rows: auto;
  font-family: Roboto-Regular ,Roboto , sans-serif ;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  justify-content: center;
}
.main-page-content{
  width: 100vw;
  max-width: 540px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 16px;
}
.logo{
  background-image: url(../images/Logos/Logo-gray.svg);
  background-size: cover;
  width: 157px;
  height: 28px;
}
.logo-white{
  background-image: url(../images/Logos/Logo-white.svg);
  background-size: cover;
  width: 157px;
  height: 28px;
}
.main-heder-search-block{
  height: 44px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 12px;
  display: grid;
  grid-template-columns: auto 20px;
  grid-gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
.main-header-search-text{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #A9A9A9;
}
.main-header-search-image{
  font-family: Roboto-Regular ,Roboto , sans-serif ;
  width: 20px;
  height: 20px;
  background-image: url(../images/Logos/Search.svg);
  background-size: cover;
}
.main-header-info{
  font-family: Roboto-Regular ,Roboto , sans-serif ;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.model-body{
  max-width: 550px;
  display: grid;
  width: 100%;
  height: auto;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.sneakers-block{
  display: grid;
  grid-template-rows: auto;
  height: 225px;
  border-bottom: 1px solid #DDDDDD;
  justify-content: center;
  width: 100%;
}
.sneakers-main-image{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: auto;
}

.sneakers-block-content{
  display: grid;
  grid-template-rows: auto auto 40px;
  width: 100%;
  grid-gap: 6px;
}
.sneakers-block-image{
  justify-content: center;
  display: inline-grid;
  align-items: center;
  height: 120px;
  width: 100%;
}
.sneakers-block-model-name{
  height: auto;
  display: inline-grid;
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  vertical-align:bottom;
  align-items: flex-end;
}
.sneakers-block-price{
  font-family: RobotoMono-Medium , Roboto-Medium ,Roboto , sans-serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #000000;
  display: grid;
  grid-template-columns: 20px auto;
  grid-gap: 6px;
  justify-content: center;

}
.sneakers-block-icon{
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
.how-it-work{
  display: grid;
  grid-template-rows: auto;
  margin-top: 40px;
}
.about-us{
  margin: 0 auto;
  display: grid;
  font-family: Roboto-Regular ,Roboto , sans-serif ;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  grid-template-rows: auto;
  grid-gap: 16px;
  margin-top: 10px;
  background: #F2F2F2;
  max-width: 540px;
  padding-bottom: 32px;
  margin-top: 32px;
}
.how-it-work-title{

}
.model-body-and-title{
  margin-top: 40px;
}
.site-pars-block{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  display: inline-grid;
  grid-template-columns: 20px auto;
  background: #FFFFFF;
  border-radius: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #000000;
  padding-left: 8px;
  padding-right: 10px;
  height: 36px;
  grid-gap: 8px;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
}
.market-icon{
  padding-top: 5px;
}
.about-us-wrapper{
  width: 100%;
  background: #F2F2F2;
}
.main-all-model{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  background: #F2F2F2;
  border-radius: 12px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3px;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 8px;
}
.logo-bottom{
  background-image: url(../images/Logos/Logo-black.svg);
  background-size: cover;
  width: 157px;
  height: 28px;
}
.social-networks-wrapper{
  width: 100%;
  background: #000000;
  color: white;
}
.social-networks{
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  max-width: 540px;
  width: 100%;
  margin-top: 24px;
  grid-gap: 16px;
  margin-bottom: 16px;
}
.social-networks-button{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.instagram-button{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  width: 100%;
  height: 38px;
  background: #F2F2F2;
  border-radius: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3px;
  color: #000000;
  padding-top: 7px;
}
.instagram{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  background: #ED3C67;
  border-radius: 12px;
  height: 40px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3px;
  color: #F2F2F2;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 8px;
}
.twitter{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  background: #3C84ED;
  border-radius: 12px;
  height: 40px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3px;
  color: #F2F2F2;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 8px;
}
.skeleton-block{
  display: grid;
  grid-template-rows: 120px 15px 15px;
  grid-gap: 6px;
}
@media (max-width: 562px) {
  .model-body-and-title{
    padding-left: 12px;
    padding-right: 12px;
  }
  .model-body{
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-column-gap: 12px;
  }
  .about-us{
    padding-left: 12px;
    padding-right: 12px;
  }
  .social-networks{
    padding-left: 12px;
    padding-right: 12px;
  }
  .main-page-content{
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 370px) {
  .model-body{
    grid-template-columns: 1fr;
    justify-content: center;
    grid-column-gap: 16px;
  }
  .about-us{
    padding-left: 12px;
    padding-right: 12px;
  }
  .social-networks{
    padding-left: 12px;
    padding-right: 12px;
  }
  .main-page-content{
    padding-left: 16px;
    padding-right: 16px;
  }
}
