*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.wrapper-slider{
  display: inline-grid;
  grid-template-rows: auto auto;
  margin-top: 24px;
  grid-gap: 20px;
  width: 100%;
}
.slider-body{
  width: 100vw;
  max-width: 540px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.slider-text{
  width: 100vw;
  display: grid;
  grid-template-columns: auto 20px;
  max-width: 540px;
}
.slider-size{
  width: 170px;
  margin: 0 auto;
  align-items: center;
}

.slider-gap{
  margin-left: 16px;
}

.slider-arrow{
  background-image: url(../images/Logos/More.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-top: 6px;
}
.slider-max{
  max-width: 45vw;
  max-width: 215px;
}
@media (min-width: 414px) {
  .slider-max{

  }
}
.veiw-all-slider{
  width: 106px;
  height: 36px;
  background: #F2F2F2;
  border-radius: 12px;
  font-family: Roboto-Medium ,Roboto , sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #000000;
  padding-left: 24px;
  padding-top: 6px;
}
.next-arrow{
  width: 16px;
  height: 16px;
  background: black;
  margin-left: 5px;
  margin-top: 8px;
}
.see-all{
  font-family: Roboto-Regular ,Roboto , sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  display: inline-flex;
}
.slider-body::-webkit-scrollbar{
  -webkit-appearance: none;
    display: none;
}
.slider-body > a{
  margin-right: 16px;
}
@media (max-width: 562px) {
  .slider-text{
    padding-left: 12px;
    padding-right: 12px;
  }
  .slider-body{
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 370px) {
  .slider-text{
    padding-left: 12px;
    padding-right: 12px;
  }
  .slider-body{
    padding-left: 12px;
    padding-right: 12px;
  }
}
