@font-face {
  font-family: 'Roboto', sans-serif;
  src :url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  line-height: 28px;
  text-transform: capitalize;
}
h3{
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto-Medium ,Roboto , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}
h2{
  font-family: Roboto-Medium ,Roboto , sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  text-transform: capitalize;
}
h4{
  font-family: Roboto-Regular ,Roboto , sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
a{
  text-decoration: none;
}
.sneakers-top{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 4px;
}
.prices{
  margin-top: 24px;
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 24px;
}
.size{
  display: inline-grid;
  grid-template-columns: auto;
  grid-gap: 12px;
  height: 36px;
}
.price-number{
  font-family: RobotoMono-Medium;
  text-align: right;
}
.size-block{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  background-color: #F2F2F2;
  border-radius: 12px;
  height: 36px;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  justify-content: center;
  display: inline-grid;
  width: 100%;
  grid-template-columns: auto 16px;
  grid-gap: 8px;
  align-items: center;
}
.size-text{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  width: auto;
}
.roll-arrow{
  background-image: url(../images/Arrow down.svg);
  background-size: cover;
  height: 16px;
  width: 16px;
}
.Used-or-new-block{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  background-color: #F2F2F2;
  border-radius: 12px;
  height: 36px;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: inline-grid;
  grid-template-columns: auto 16px auto;
  align-items: center;
  justify-content: center;
  grid-gap: 4px;
}
.or-block{
  background-image: url(../images/Dash.svg);
  background-size: cover;
  height: 16px;
  width: 16px;
}
.used-new-block{
  display: grid;
  grid-template-columns: 38px auto;
  grid-gap: 2px;
  align-items: center;
}
.used-color{
  color: #A9A9A9;
}
.confirm-true{
  background-image: url(../images/Checkmark.svg);
  background-size: cover;
  height: 16px;
  width: 16px;
}
.site-price > div{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 24px;
}
.site-button{
  display: grid;
  grid-template-columns: 32px 10fr 3fr;
  align-items: center;
  grid-gap: 16px;
}
.site-button-opacity{
  display: grid;
  grid-template-columns: 32px 10fr 3fr;
  align-items: center;
  grid-gap: 16px;
  opacity: 0.3;
}
.site-icon{
  margin-top: 2px;
}
.site-name{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  font-style: normal;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  align-items: flex-end;
  display: grid;
  grid-template-rows: auto;
}
.site-best-price{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4DCC34;
}
.site-buttons-price{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  display: grid;
  grid-template-columns: auto 16px;
  grid-gap: 8px;
  align-items: center;
}
.site-grey-color{
  color: #A9A9A9;
}
.site-arrow-green{
  background-image: url(../images/Arrow green.svg);
  background-size: cover;
  height: 16px;
}
.site-arrow-black{
  background-image: url(../images/Arrow 2.svg);
  background-size: cover;
  height: 16px;
}
.site-price-best{
  color: #4DCC34;
}
.Updated{
  margin-bottom: 24px;
}
.line-button{
  margin-bottom: 12px;
  animation: fadeIn 1s infinite alternate;
}
.other-site{
  margin-top: 24px;
}
.about-sneakers-wrapper{
  width: 100%;
  background: #F2F2F2;
}
.about-body{
  width: 100%;
  background: #F2F2F2;
  display: inline-grid;
  grid-template-rows: auto;
  grid-gap: 0;
  margin-top: 40px;
}
.about-sneakers-block{
  margin: 0 auto;
  display: grid;
  font-family: Roboto-Regular ,Roboto , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  grid-template-rows: auto;
  grid-gap: 16px;
  margin-top: 10px;
  background: #F2F2F2;
  max-width: 540px;
  padding-bottom: 32px;
  margin-top: 32px;
}
.about-sneakers-text{
  font-family: Roboto-Regular ,Roboto , sans-serif ;
  white-space: pre-line;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.grey-color{
  color: rgba(0, 0, 0, 0.5);
}
.line{
  width: 100%;
  background: #F2F2F2;
  height: 2px;
  display: grid;

}
.green-line{
  background: #4DCC34;
}
.count-site{
  font-family: Roboto-Regular ,Roboto , sans-serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #A9A9A9;
}
.site-button-load{
  display: grid;
  grid-template-columns: 32px auto;
  align-items: center;
  grid-gap: 16px;
}
.site-line-content{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2px;
}
.line-and-text{
  display: grid;
  grid-template-rows: auto;
  grid-gap: 12px;
}
.batton-opacity{
  opacity: 30%;
}


.sneakers-body{
  width: auto;
  height: auto;
  background: white;
  margin: 0 auto;
  padding-top: 79px;
  max-width: 530px;
  align-self: center;

}
.all-model-button{
  font-family: Roboto-Medium ,Roboto , sans-serif ;
  background-color: #F2F2F2;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  justify-content: center;
  display: inline-grid;
  width: 100%;
  height: 36px;
  background: #F2F2F2;
  border-radius: 12px;
  align-items: center;
}
.your-size-block{
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 16px;
  max-width:
}
.size-block{
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 16px;
}
.size-titles{
  display: inline-grid;
  grid-template-rows: auto;
  grid-gap: 4px;
}
.size-header{
  display: inline-grid;
  grid-template-columns: auto 40px;
  align-items: center;
}
.size-back-button{
  width: 40px;
  height: 32px;
  background: #F2F2F2;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-top: 6px;
}
.sneaker-size{
  margin: 0 auto;
  height: auto;
  width: 100%;
  max-width: 530px;
  border-radius: 0;
  border: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 17px;
  grid-row-gap: 12px;
}
.size-button{
  margin: 0 auto;
  color: black;
  width: auto;
  height: 40px;
  background: #F2F2F2;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-family: RobotoMono-Medium ,Roboto , sans-serif ;
  padding-top: 9px;
}
.SizeButtonChoose{
  background: rgba(77, 204, 52, 0.2);
  color: #4DCC34;
}
@media (max-width: 562px) {
  .sneakers-body{
    padding-left: 12px;
    padding-right: 12px;;
  }
  .about-sneakers-block{
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 370px) {
  .sneakers-body{
    padding-left: 12px;
    padding-right: 12px;
  }
  .about-sneakers-block{
    padding-left: 12px;
    padding-right: 12px;
  }
}
@keyframes fadeIn {
  from { opacity: 0.3; }
}
